body{
    padding: 0;
    margin: 0;
}
p{
    color: #333333;
    font-size: 1.1rem;
    padding: 1em 0;
    margin: 0;
}

.container{
    position: relative;
    background-color: #333333;
}
.content{
    width: 80%;
    max-width: 1000px;
    margin:  auto;
    padding: 6em 0;
 
  
}
.heading{
    padding: 0;
    margin: 0;
}
.sub-heading{
   padding: 0;
    font-size: 1rem;
}
img{
    max-width: 100%;
}
.rotating-div{
   
    width: 100vw;
    
    transform-origin: top left;
    transform-style: preserve-3d;
    transform:rotateZ(0deg);
 transition: transform 1s ease;
 background-color: #FAFAFA;

}
.rotate-div{
    transform: rotateZ(-20deg);
}

.toggle{
    background-color: #FE797A;
    color:white;
    font-size: 2rem;
    position: absolute;
    top:0;
   
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform-origin: top left;
    transform-style: preserve-3d;
 margin: 0;
    transition: transform 1s ease;
    
}
.hide-cross{
    transform:rotateZ(90deg)
}


.rotate-equal{
    transform:rotateZ(-90deg)
}



.rotate-cross{
    transform: rotateZ(0deg)
}
.menu{
    left:40;
   color: white;
   width: 100px;
   height: 100px;
    position: fixed;
    bottom: 80;
  
}
.menu p{
   padding-top: 0.1em  ;
   padding-bottom:0.5em ;
    color: white;
    font-size: 1.4rem;
   
    transition: transform 0.5s linear;

}
.hide-menu{
    transform:translateX(-150px)
}
.about{
    padding-left: 0.5em;
}
.contact{
    padding-left: 0.7em ;
}

