*{
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
  
color: white;
}
.container{
    width: 90%;
    height: 80%;
  display: flex;
  gap:20px;
 
}
.main-div{
    border-radius: 50px;
    height: 100%;
    width: 8%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  transition: width 2s;
}
.panel{
    width: 65% ;
}
.container div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.container h1{
    padding: 1em;
    position : absolute;
    bottom: 0;
    
}
.hidden{
    visibility: hidden;
}
.active{
    visibility: visible;
}